*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, rgb(73, 45, 233),rgb(147, 11, 232));
    display: flex;
    justify-content: center;
}


.white-box{
    height: max-content;
    width: 500px;
    background-color: white;
    border-radius: 25px;
}


.white-box .line1 {
    font-size: 1em;

    text-align: center;
}


.line1 span{
    font-size: 0.8em;

    color: blue;
    font-weight: bold;

}

hr{
    margin: 1rem;
}


.boxes img{
    height: 150px;
    width: 200px;
    border-radius: 30px;
    padding: 20px;
    
   
}

.boxes .box{
    display: flex;
}

.boxes p{
    font-size: 20px;
    padding-top: 1.4rem;
}

.boxes .box1-text span{
 
   color: blue;
   position: relative;
   top: .5rem;
   font-size: 1.2em;
   font-weight: bold;
}

#down-arrow{

    height: 30px;
    width: 30px;
    cursor: pointer;
    

}

.boxes .box:hover
 {
    transform: scale(1.02);
    cursor: pointer;
    background-color: skyblue;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
   

    .white-box {
        height: auto;
        width: 90%;
        margin: 5% auto;
    }

    .white-box .line1 {
        font-size: 1.5em;
        margin-left: 10%;
    }

    .boxes img {
        height: auto;
        width: 90%;
        margin-left: 5%;
    }

    .boxes .box1{
        flex-direction: column;
        align-items: center;
    }

    .boxes p {
        font-size: 1.3em;
        margin-left: 0;
        text-align: center;
    }

    .boxes .box1-text span {
        margin-left: 0;
        text-align: center;
    }

    #down-arrow {
        margin-left: 30%;
    }
}