<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balls</title>
    <link rel="stylesheet" href="ball.css">
</head>
<body>
    

    <div class="white-box">
            <div class="line1"><br>
                <p>Lorem ipsum dolor, sit consectetur adipisicing &</p>
                <p>Lorem, ipsum dolor.</p>
                <span>33 videos</span>
                <img src="icon1.png" alt="" id="down-arrow">
            </div>
            <hr>
            <div class="boxes">
            <div class="box">
                <img src="one.jpg" alt="">
                <div class="box1-text">
                <p>Lorem ipsum dolor sit amet consectetur</p>
                <span>lorem Lorem ipsum dolor sit amet consectetur</span>
            </div>
            </div>
            <div class="box">
                <img src="two.jpg" alt="">
                <div class="box1-text">
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                    <span>lorem Lorem ipsum dolor sit amet consectetur</span>
                </div>
                </div>
            <div class="box">
                <img src="three.jpg" alt="">
                <div class="box1-text">
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                    <span>lorem Lorem ipsum dolor sit amet consectetur</span>
                </div>
            </div>
            <div class="box">
                <img src="four.jpg" alt="">
                <div class="box1-text">
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                    <span>lorem Lorem ipsum dolor sit amet consectetur</span>
                </div>
            </div>
            <div class="box">
                <img src="five.jpg" alt="">
                <div class="box1-text">
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                    <span>lorem Lorem ipsum dolor sit amet consectetur</span>
                </div>

            </div>
             <div class="box">
                <img src="one.jpg" alt="">
                <div class="box1-text">
                <p>Lorem ipsum dolor sit amet consectetur</p>
                <span>lorem Lorem ipsum dolor sit amet consectetur</span>
            </div>
            </div>
            <div class="box">
                <img src="two.jpg" alt="">
                <div class="box1-text">
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                    <span>lorem Lorem ipsum dolor sit amet consectetur</span>
                </div>
                </div>
            <div class="box">
                <img src="three.jpg" alt="">
                <div class="box1-text">
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                    <span>lorem Lorem ipsum dolor sit amet consectetur</span>
                </div>
            </div>
            <div class="box">
                <img src="four.jpg" alt="">
                <div class="box1-text">
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                    <span>lorem Lorem ipsum dolor sit amet consectetur</span>
                </div>
            </div>
            <div class="box">
                <img src="five.jpg" alt="">
                <div class="box1-text">
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                    <span>lorem Lorem ipsum dolor sit amet consectetur</span>
                </div>

            </div>
            </div>
        </div>
    </div>
</body>
</html>