@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}




.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.pad_container {
  flex: 1;
  margin-top: 70px;
  height: 100%;
  width: 100%;
}

.loader {
  border: 7px solid rgb(79, 75, 75);
  border-top: 7px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
  position: absolute;
  top: 30%;
  left: 45%;
  z-index: 10;
  background-color: transparent(241, 238, 238);
}

.title {
  line-height: 65px;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.notification {
  position: fixed;
  top:10%;
  right: 5%;
  width: 300px;
  z-index: 10;
}

.course_flexbox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.course_flexbox_link {
  width: 30%;
  height: 375px;
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  .course_flexbox_link {
    height: fit-content;
    width: 40%;
  }
}

@media only screen and (max-width: 800px) {
  .course_flexbox_link {
    height: fit-content;
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .course_flexbox {
    flex-direction: column;
    align-items: center;
  }

  .course_flexbox_link {
    height: fit-content;
    width: 90%;
  }
}



.ri--user-3-line {
  display: inline-block;
  color: white;
}