.container{
  height: 100%;
  width: 100%;

}

.container .firsthead{
  min-height: 450px;
  background-color: rgb(174, 172, 172);

}

.container .firsthead .navs{
  display: flex;
  align-items: center;
}

.container .firsthead .navs .nav_left{

}
.container .firsthead .navs .nav_center{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}
.container .firsthead .navs .nav_right{

}





.container .firsthead a{
  padding: 20px;
  line-height: 50px;
}

.head_content{

}

.head_content h1 , .head_content h4{
  text-transform: uppercase;
  text-align: center;
  margin-top: 7rem;
}
.head_content h4{
  margin-top: 2rem;
}

.container main h5{
  text-align: center;
  border: 1px solid black;
  border-radius: 50%;
}

.temp {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.temp span{
  border: 1px solid black;
border-radius: 50%;
padding: 5px 10px;
font-size: 20px;
}

.animation_list{
  width: 100%;

}




.animation_list ul {
 
  display: flex;
  
 
  animation: slide 10s alternate-reverse infinite; /* Adjust duration as needed */
}

.animation_list li {
  display: inline-block;
  padding: 5px 100px;
  font-size: 32px;
  font-weight: 600;
}

.page{
  height: 100vh;
  max-height: max-content;
  max-height: -moz-fit-content;
  background-color: white;
  color: black;
  width: 100%;
  position: relative;
}

.page_one{
   background-size: cover;
  color: inherit;
}

.page_two{

  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page .background{
  height: 70%;
  background-image: url("https://as1.ftcdn.net/v2/jpg/01/41/70/02/1000_F_141700287_vUkvJe2wqztbNPxpr9fgmIWN64lcfDjQ.jpg");
  background-size: cover;

}



.page .content{
  position: absolute;
  width: 50%;
  min-height: 60%;
  max-height:fit-content;
  max-height: -moz-fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  backdrop-filter: invert(30%);
  -webkit-backdrop-filter:invert(30%);
  border: 1px solid black;
}

.page .content article header{
padding: 5%;
text-align: center;
line-height: 50px;
font-size: 30px;
}

.page .content article main{
  padding: 10px 20px;
  font-size: 20px;
}

.page .content article footer a{
  text-align: center;
  display: block;
  line-height: 40px;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 1rem;
}

 .feed{
  display: flex;
  min-height: 70%;
  padding-top: 2rem;
  background-color: rgb(171, 168, 168);
  justify-content: space-between;
}

 .feed .first ,  .feed .second{
 margin: 1rem;
 height: auto;
 width: 45%;
}


.feed .first header h1{
  text-align: center;
  line-height: 50px;
}

.feed .first form {

}


.feed .first form .inputBox {
margin: 1rem;
}


.feed .first form .inputBox label ,.feed .first form .inputBox input {
  display: block;
  width: 80%;
  margin: auto;
}

.feed .first form .inputBox label {
  line-height: 35px;
  font-size: 25px;
}
.feed .first form .inputBox input{
  height:35px;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid black;
}

.feed .first form .inputBox input:focus{

}

.feed .first form .inputBox .button{
  background-color: gray;

}

.feed .first form .inputBox .button:hover{
  background-color: lightgray;
}

 .feed .second{
  background-image: url('/button.jpg');
  background-size:cover;

  border-top-left-radius: 7%;
  border-bottom-right-radius: 7%;
  background-color: green;
}

.page .feed_footer{
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 50px;
}
  
.page .feed_footer .left_footer{
flex: 1;
}

.page .feed_footer .left_footer .icon{
  height: 40px;
  margin: 1rem;
}

.page .feed_footer .right_footer{
  width: 30%;
  display: flex;
  justify-content: space-around;
}


.page .feed_footer .right_footer ul >li{
  list-style: none;
  line-height: 30px;
  margin: 0 2px;
  text-decoration: underline;
}


.page .feed_footer .right_footer .right_one , .page .feed_footer .right_footer .right_two{

}


/* slides */

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}



.slider {
	background: transparent;
	height: 100px;
	margin: auto;
  margin-top: 1rem;
	overflow:hidden;
	position: relative;
	width: 100%;
}
	
	

	
	.slide_track {
		animation: scroll 30s linear infinite;
		display: flex;
    justify-content: space-around;

	}

	
	.slide {
		height: 100px;
		width: auto;
    padding: 50px;
	}

  .slide .last{
    
  }

 .slide h1::before {
    content: '\2022'; /* Unicode character for a bullet (•) */
    margin-right: 8px; /* Adjust as needed for spacing */
}

@media (max-width: 768px){
  .page_one{
    
    
  }

  .page_two{
    
  }



  .page .content{
    width: 80%;
  }

.feed .first{
  flex: 1;
}

  .feed .second{
    display: none;
  }



.page .feed_footer{
flex-direction: column;
align-items: center;
padding: 10px 0px;
margin: auto;
width: 90%;
}

.page .feed_footer .left_footer{
  margin-bottom: 2rem;
  flex: 1;
}

.page .feed_footer .right_footer{
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
}

.page .background{
  height: 90%;
  

}

.nav_center span{
  display: none;
}

}

