.heading {
  color: #444;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}
.container {
  display: flex;
  gap: 20px;
  padding: 5px 3%;
  height: max-content;
  overflow-y: auto;
}

.course_flexbox{
  display: flex;
}


.container .main_video {
  width: 70%;
  background: #fff;
  border-radius: 5px;
  padding: 10px;

}
.container .main_video video {
  width: 100%;
  border-radius: 5px;
}
.container .main_video .title {
  color: #333;
  font-size: 23px;
  padding-top: 15px;
  padding-bottom: 15px;
}


.container .main_video .comment{
   margin-top: 1rem;

}


.container .main_video .comment .commentBox{
  border: 1px solid black;
  margin: 1rem 0;
}

.container .main_video .comment .commentBox span{
  margin: 1rem;
  display: block;
}

.container .main_video .comment .commentBox textarea{
width: 90%;
display: block;
margin: auto;
resize: none;
border: none;
min-height: 40px;
font-size: 18px;
border-bottom: 1px solid black;
}

.container .main_video .comment .commentBox textarea:focus{
  border: none; 
  border-bottom: 1px solid blue;
}


.container .main_video .comment .commentBox  button{
  margin: 1rem 2rem;
  height: 40px;
  width:100px;
  background-color: skyblue;
  
}


/*sidebar*/




.white_box{
  height: max-content;
  max-width: 500px;
  background-color: white;
  border-radius: 25px;
}


.white_box .line1 {
  font-size: 1em;
  text-align: center;
}


.line1 span{
  font-size: 0.8em;
  color: blue;
  font-weight: bold;

}

.white_box hr{
  margin: 1rem;
}


.boxes img{
  height: 175px;
  width: 225px;
  border-radius: 30px;
  padding: 20px;
  
 
}

.boxes .box{
  display: flex;
  
}

.boxes .selected_box{
  display: flex;
  background-color: rgb(96, 210, 94);
}

.boxes p{
  font-size: 20px;
  padding-top: 1.4rem;
}

.boxes .box1_text span{

 color: black;
 position: relative;
 top: .5rem;
 font-size: 1em;

}

#down-arrow{

  height: 30px;
  width: 30px;
  cursor: pointer;
  

}

.boxes .box:hover
{
  transform: scale(1.02);
  cursor: pointer;
  background-color: skyblue;
  border-radius: 4px;
}

.boxes .selected_box:hover{
  cursor:not-allowed;
}

@media only screen and (max-width: 768px) {
 

  .white_box {
      height: auto;
      width: 90%;
      margin: 5% auto;
  }

  .white_box .line1 {
      font-size: 1.5em;
      margin-left: 10%;
  }

  .boxes img {
      height: auto;
      width: 90%;
      margin-left: 5%;
  }

  .boxes .box1{
      flex-direction: column;
      align-items: center;
  }

  .boxes p {
      font-size: 1.3em;
      margin-left: 0;
      text-align: center;
  }

  .boxes .box1-text span {
      margin-left: 0;
      text-align: center;
  }

  #down-arrow {
      margin-left: 30%;
  }
}





@media (max-width: 991px) {
  .container {
    grid-template-columns: 1.5fr 1fr;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;

    padding: 10px;
  }
}
